<div class="line-it-button" data-lang="ja" data-type="share-a" data-url="http://localhost:3100/events/<%= @event.event_url %>" style="display: none;"></div>

<script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>

<textarea id="bar" rows="1" cols="40"><%= "https://f549bbd6.ngrok.io/events#{@event.event_url}"%></textarea>
<button class="clipboard-btn btn btn-info" data-clipboard-action="copy" data-clipboard-target="#bar">
    URLコピー
</button>

<h5>タイトル</h5>
<p class="mb-3"><%= @event.title %></p>

<h4>内容</h4>
<p class="mb-3"><%= @event.content%></p>

<h5>募集人数</h5>
<% if @event.max_persons == 0 %>
  <p class="mb-3">制限なし</p>
<% else %>
  <p class="mb-3"><%= @event.max_persons %></p>
<% end %>

<h5 class="pt-3">開始時間</h5>
<p class="mb-3"><%= @event.start_time %></p>
<h5 class="pt-3">終了時間</h5>
<p class="mb-3"><%= @event.finish_time %></p>

<% if @event.check == "1" %>
  <p class="mb-3">限定公開のため閲覧にパスワードが必要です</p>
<% end %>

<% if @event.free == "1" %>
  <p class="mb-3"><%= @item.name %></p>
  <p class="mb-3"><%= @item.content %></p>
  <p class="mb-3"><%= @item.price %>円</p>
  <p class="mb-3">在庫　<%= @item.count %></p>
<% end %>

<p><%= link_to 'トップページへ', root_path %></p>
<p><%= link_to 'マイページへ', home_profile_path(current_user) %></p>
