<h2>プロフィール</h2>
<% if @user.user_url == current_user.user_url %>
  <%= form_for @user, url: "/home/#{@user.user_url}/update", method: "post" do |f| %>
    <%= f.text_field :name, class: "form-control mb-3", value: "#{@user.name}" %>
    <span class="input-group-btn align-bottom">
      <%= f.submit class: "btn btn-primary mt-4 float-right", value: "保存する" %>
    </span>
  <% end %>
  <%= link_to "パスワードを変更する", edit_user_registration_path %>
<% else %>
  <%= @user.name %>
<% end %>
