<div class="d-block">
  <h2>プロフィール</h2>
  <% if @user.user_url == current_user.user_url %>
    <%= form_for @user, url: "/home/#{@user.user_url}/update", method: "post" do |f| %>
      <%= f.text_field :name, class: "form-control mb-3", value: "#{@user.name}" %>
      <span class="input-group-btn align-bottom">
        <%= f.submit class: "btn btn-primary my-4", value: "保存する" %>
      </span>
    <% end %>
    <p><%= link_to "クレジットカード情報を変更する", "/home/#{@user.user_url}/card", class: "" %></p>
    <p><%= link_to "パスワードを変更する", edit_user_registration_path, class: "" %></p>
  <% else %>
    <%= @user.name %>
  <% end %>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="#tab1" class="nav-link active" data-toggle="tab" >作成イベント</a>
  </li>
  <li class="nav-item">
    <a href="#tab2" class="nav-link" data-toggle="tab" >参加イベント</a>
  </li>
</ul>

<div class="tab-content">
  <div id="tab1" class="tab-pane active">
    <p><%= render partial: "events/myevent", collection: @events, locals: {user_id: @user.id} %></p>
  </div>
  <div id="tab2" class="tab-pane">
    <p><%= render partial: "purchase", collection: @purchases %></p>
  </div>
</div>
