作成者
<%= @event.user.name %>
<h4>タイトル</h4>
<div class="mb-3">
  <%= @event.title %>
</div>
<h4>内容</h4>
<div class="mb-3">
  <%= @event.content %>
</div>
<h4>募集人数</h4>
<% if @event.max_persons == 0 %>
  <p class="mb-3">制限なし</p>
<% else %>
  <p class="mb-3"><%= @event.max_persons %></p>
<% end %>
<h4>開始日</h4>
<div class="mb-3">
  <%= @event.start_date %>
</div>
<h4>開始時間</h4>
<div class="mb-3">
  <%= @event.start_time.to_s(:shorttime) %>
</div>

<% if user_signed_in? %>
  <% unless Join.find_by(user_id: current_user.id, event_id: @event.id).present? %>
    <% if @joins.count == @event.max_persons && @event.max_persons != 0 %>
      <div class="btn btn-secondary">満員です</div>
    <% else %>
      <%= form_with model: @join, url: joins_path, local: true do |f| %>
        <%= f.hidden_field :event_id, value: "#{@event.id}" %>
        <%= f.hidden_field :user_id, value: "#{current_user.id}" %>
        <%= f.submit value: "参加予約する", class: "btn btn-primary mb-3", data: { confirm: "参加予約をしますか？" } %>
        <p>現在の参加人数<%= @joins.count %>人</p>
      <% end %>
    <% end %>
  <% else %>
    <%= form_with model: @join, url: joins_path, method: "delete", local: true do |f| %>
      <%= f.hidden_field :event_id, value: "#{@event.id}" %>
      <%= f.hidden_field :user_id, value: "#{current_user.id}" %>
      <%= f.submit value: "キャンセル", class: "btn btn-danger mb-3", data: { confirm: "キャンセルしますか？" } %>
      <p>現在の参加人数<%= @joins.count %>人</p>
    <% end %>
  <% end %>
<% else %>
   参加するには<%= link_to "ログイン", new_user_session_path %>が必要です。
<% end %>

<% if @item.present?%>
  <p class="border-top py-2"><%= @item.name %><%= @item.price %>円</p>
  <%= form_for :purchase, url: {action: 'purchase'} do |f| %>
    <%= f.hidden_field :user_id, value: "#{current_user.id}" %>
    <%= f.hidden_field :item_id, value: "#{@item.id}" %>
    <%= f.hidden_field :event_id, value: "#{@event.id}" %>
    <%= f.hidden_field :process, value: "0" %>
    <%= f.submit value: "発券する", class: "btn btn-primary mb-3", data: { confirm: "購入しますか？" } %>
  <% end %>
<% end %>

<h5 class="my-4">参加者</h5>
<% @joins.each do |join| %>
  <p class="border-top py-2"><%= link_to "#{join.user.name}", "/home/#{join.user.user_url}" %></p>
<% end %>

<%= link_to "決済する", "/events/#{@event.event_url}/pay", method: :post, class: "btn btn-primary mb-3", data: { confirm: "決済しますか？" } %>
<h5 class="my-4">購入者</h5>
<% @purchases.each do |purchase| %>
  <p class="border-top py-2">
    <%= link_to "#{purchase.user.name}", "/home/#{purchase.user.user_url}" %>
    <%= purchase.item.name %>
    <%= purchase.item.price %>円
    <% if purchase.process == "1" %>
      <span class="text-success">済み</span>
    <% end %>
  </p>
<% end %>
