<h4>タイトル</h4>
<div class="mb-3">
<%= @event.title %>
</div>
<h4>内容</h4>
<div class="mb-3">
<%= @event.content %>
</div>
<h4>募集人数</h4>
<div class="mb-3">
<%= @event.max_persons %>人
</div>
<h4>開始日</h4>
<div class="mb-3">
<%= @event.start_date %>
</div>
<h4>開始時間</h4>
<div class="mb-3">
<%= @event.start_time.to_s(:shorttime) %>
</div>

<% unless Join.find_by(user_id: current_user.id, event_id: @event.id).present? %>
  <% if Join.where(event_id: @event.id).count == @event.max_persons && @event.max_persons != 0 %>
    <div class="btn btn-secondary">満員です</div>
  <% else %>
    <%= form_with model: @join, url: joins_path, local: true do |f| %>
      <%= f.hidden_field :event_id, value: "#{@event.id}" %>
      <%= f.hidden_field :user_id, value: "#{current_user.id}" %>
      <%= f.submit value: "参加する", class: "btn btn-primary" %>
    <% end %>
  <% end %>
<% else %>
  <%= form_with model: @join, url: joins_path, method: "delete", local: true do |f| %>
    <%= f.hidden_field :event_id, value: "#{@event.id}" %>
    <%= f.hidden_field :user_id, value: "#{current_user.id}" %>
    <%= f.submit value: "キャンセル", class: "btn btn-danger" %>
  <% end %>
<% end %>

<h5 class="my-4">参加者</h5>
<% @joins.each do |join| %>
  <p class="border-top py-2"><%= join.user.id %></p>
<% end %>
