<nav class="navbar bg-success navbar-dark">
  <a class="navbar-brand" href="/">AnaTicket</a>
  <% if user_signed_in? %>
    <div class="sm">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><%= current_user.name %></button>
        <div class="dropdown-menu" style="position: absolute;right: 0;left: auto;">
          <%= link_to "＋イベントを作成する", new_event_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "マイページ", home_profile_path(current_user), class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "ログアウト", destroy_user_session_path, class: "dropdown-item" %>
        </div>
      </div>
    </div>
    <div class="lg">
      <ul class="navbar-nav">
        <div class="float-right">
          <%= link_to "＋イベントを作成する", new_event_path, class: "btn btn-warning" %>
          <%= link_to "マイページ", home_profile_path(current_user), class: "btn btn-primary" %>
          <%= link_to "ログアウト", destroy_user_session_path, class: "btn btn-danger" %>
        </div>
      </ul>
    </div>
  <% else %>
    <div class="sm">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">メニュー</button>
        <div class="dropdown-menu" style="position: absolute;right: 0;left: auto;">
          <%= link_to "ログイン", new_user_session_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "新規登録", new_user_registration_path, class: "dropdown-item" %>
        </div>
      </div>
    </div>
    <div class="lg">
      <ul class="navbar-nav">
        <div class="float-right">
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-info" %>
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-info" %>
        </div>
      </ul>
    </div>
  <% end %>
</nav>
