<!DOCTYPE html>
<html>
  <head>
    <title>Anaticket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>
    <!-- for facebookbutton -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.0&appId=265337770671987&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </head>

  <body>
    <%= render "layouts/header"%>
    <div class="container py-4">
      <%= flash_message(flash[:success], :success) if flash[:success]%>
      <%= flash_message(flash[:error], :danger) if flash[:error]%>
      <%= flash_message(flash[:alert], :warning) if flash[:alert]%>
      <%= flash_message(flash[:notice], :info) if flash[:notice]%>
      <%= yield %>
    </div>
  </body>
</html>
